# **Redes Neurais para classificação**

### Nome: Alexandre dos Santos Gualberto 
### Curso: Engenharia de Computação

## **Car Evaluation Data Set** 
### link: http://archive.ics.uci.edu/ml/datasets/Car+Evaluation
#### Foi utilizado o arquivo 'car.data', posteriormente renomeado para 'car.csv', o mesmo utilizado no trabalho 3.

### ***Atributos:***
  #### **buying** 
  ##### Descrição: Preço pago na compra do carro
  ##### Possíveis Valores = [vhigh, high, med, low] (muito alto, alto, mediano, baixo)
  #### **maint**
  ##### Descrição: Preço pago com manutenção do carro
  ##### Possíveis Valores = [vhigh, high, med, low] (muito alto, alto, mediano, baixo)
  #### **doors** 
  ##### Descrição: Número de portas do carro
  ##### Possíveis Valores = [2, 3, 4, 5more] (duas, três, quatro, 5 ou mais)
  #### **persons**
  ##### Descrição: Número de pessoas que o carro suporta transportar
  ##### Possíveis Valores = [2, 4, more] (duas, quantro, mais)
  #### **lug_boot**
  ##### Descrição: Tamanho do Porta-malas
  ##### Possíveis Valores = [small, med, big] (pequeno, mediano, grande)
  #### **safety**
  ##### Descrição: Segurança do carro
  ##### Possíveis Valores = [low, med, high] (baixa, mediana, alta)

###***Classes***:
  #### **car_acc**
  ##### Descrição: Quantifica o quão aceitável é o carro com base nos atributos fornecido acima
  ##### Possíveis Valores = [unacc, acc, good, vgood] (inaceitável, aceitável, bom, muito bom)

### **Conjunto de dados e tratamento de dados**

In [ ]:
import pandas as pd
import sklearn

In [ ]:
dados = pd.read_csv('car.csv') # lê o arquivo com os dados

In [ ]:
dados.head() # representação do DataFrame

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [ ]:
dados.columns = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "car_acc"] # Coloca os labels corretos no DataFrame

In [ ]:
dados # representação do DataFrame com os labels corretos

     buying  maint  doors persons lug_boot safety car_acc
0     vhigh  vhigh      2       2    small    med   unacc
1     vhigh  vhigh      2       2    small   high   unacc
2     vhigh  vhigh      2       2      med    low   unacc
3     vhigh  vhigh      2       2      med    med   unacc
4     vhigh  vhigh      2       2      med   high   unacc
...     ...    ...    ...     ...      ...    ...     ...
1722    low    low  5more    more      med    med    good
1723    low    low  5more    more      med   high   vgood
1724    low    low  5more    more      big    low   unacc
1725    low    low  5more    more      big    med    good
1726    low    low  5more    more      big   high   vgood

[1727 rows x 7 columns]

In [ ]:
from sklearn import preprocessing
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
# Transforma atributos categóricos em ordinários
X = dados
oe = OrdinalEncoder(categories = [['low', 'med', 'high', 'vhigh'], ['low', 'med', 'high', 'vhigh'], ['2', '3', '4', '5more'],['2', '4', 'more'], ['small', 'med', 'big'],
                                                         ['low', 'med', 'high'], ['unacc', 'acc', 'good', 'vgood']])
matriz_dados_transformados = oe.fit_transform(X[['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car_acc']])

#### Antes da transformação                     
##### buying = [low, med, high, vhigh]
##### maint = [low, med, high, vhigh]
##### doors = [2, 3, 4, 5more]
##### persons = [2, 4, more]
##### lug_boot = [small, med, big]
##### safety = [low, med, high]
##### car_acc = [unacc, acc, good, vgood]

#### Depois da transformação                     
##### buying = [0, 1, 2, 3]
##### maint = [0, 1, 2, 3]
##### doors = [0, 1, 2, 3]
##### persons = [0, 1, 2]
##### lug_boot = [0, 1, 2]
##### safety = [0, 1, 2]
##### car_acc = [0, 1, 2, 3]

In [ ]:
matriz_dados_transformados # Representação da matriz de dados após a transformação

array([[3., 3., 0., ..., 0., 1., 0.],
       [3., 3., 0., ..., 0., 2., 0.],
       [3., 3., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 3., ..., 2., 0., 0.],
       [0., 0., 3., ..., 2., 1., 2.],
       [0., 0., 3., ..., 2., 2., 3.]])

In [ ]:
# Criação de um DataFrame com os dados transformados
dados_transformados = pd.DataFrame(data = matriz_dados_transformados)
dados_transformados.columns = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "car_acc"]
dados_transformados

      buying  maint  doors  persons  lug_boot  safety  car_acc
0        3.0    3.0    0.0      0.0       0.0     1.0      0.0
1        3.0    3.0    0.0      0.0       0.0     2.0      0.0
2        3.0    3.0    0.0      0.0       1.0     0.0      0.0
3        3.0    3.0    0.0      0.0       1.0     1.0      0.0
4        3.0    3.0    0.0      0.0       1.0     2.0      0.0
...      ...    ...    ...      ...       ...     ...      ...
1722     0.0    0.0    3.0      2.0       1.0     1.0      2.0
1723     0.0    0.0    3.0      2.0       1.0     2.0      3.0
1724     0.0    0.0    3.0      2.0       2.0     0.0      0.0
1725     0.0    0.0    3.0      2.0       2.0     1.0      2.0
1726     0.0    0.0    3.0      2.0       2.0     2.0      3.0

[1727 rows x 7 columns]

### **Separação dos dados para teste e treinamento**

In [ ]:
# Cria o vetor de classes a partir da coluna 'car_acc'
vetor_de_classes = dados_transformados['car_acc'].to_list()
print(vetor_de_classes)

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 1.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 1.0, 3.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 1.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 1.0, 3.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 1.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 1.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 1.0, 3.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 1.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 1.0, 3.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 0.0, 1.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0, 0.0, 1.0, 2.0, 0.0, 2.0, 3.0, 0.0, 2.0, 3.0]

In [ ]:
# Cria um DataFrame auxiliar que é o dados_transformados sem a coluna 'car_acc'
dados_transformados_aux = dados_transformados[["buying", "maint", "doors", "persons", "lug_boot", "safety"]]
dados_transformados_aux

      buying  maint  doors  persons  lug_boot  safety
0        3.0    3.0    0.0      0.0       0.0     1.0
1        3.0    3.0    0.0      0.0       0.0     2.0
2        3.0    3.0    0.0      0.0       1.0     0.0
3        3.0    3.0    0.0      0.0       1.0     1.0
4        3.0    3.0    0.0      0.0       1.0     2.0
...      ...    ...    ...      ...       ...     ...
1722     0.0    0.0    3.0      2.0       1.0     1.0
1723     0.0    0.0    3.0      2.0       1.0     2.0
1724     0.0    0.0    3.0      2.0       2.0     0.0
1725     0.0    0.0    3.0      2.0       2.0     1.0
1726     0.0    0.0    3.0      2.0       2.0     2.0

[1727 rows x 6 columns]

In [ ]:
# Gera a matriz de atributos a partir dos dados do DataFrame auxiliar
matriz_de_atributos = dados_transformados_aux.values
matriz_de_atributos

array([[3., 3., 0., 0., 0., 1.],
       [3., 3., 0., 0., 0., 2.],
       [3., 3., 0., 0., 1., 0.],
       ...,
       [0., 0., 3., 2., 2., 0.],
       [0., 0., 3., 2., 2., 1.],
       [0., 0., 3., 2., 2., 2.]])

In [ ]:
from sklearn import model_selection
from sklearn.model_selection import train_test_split

In [ ]:
# Realiza a partição do conjunto de teste (tam = 1295) e de treino (tam = 432)
atributos_treino, atributos_teste, classes_treino, classes_teste = train_test_split(matriz_de_atributos, vetor_de_classes, test_size = 432)

### **Inicialização da Rede e teste**

In [ ]:
from sklearn import neural_network
from sklearn.neural_network import  MLPClassifier

In [ ]:
# Inicialização com a arquitetura da rede, decidida após testes 
mlp = MLPClassifier(hidden_layer_sizes = 280, solver = 'lbfgs', random_state = 0, learning_rate_init = 0.01, activation = 'relu', max_iter= 1000)
mlp.fit(atributos_treino,classes_treino)
classes_preditas = mlp.predict(atributos_teste)

### **Avaliação do modelo gerado**

In [ ]:
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import cross_val_score

In [ ]:
# avaliação pelo cross-validation
scores = cross_val_score(mlp, matriz_de_atributos,vetor_de_classes)
scores

array([0.86127168, 0.9017341 , 0.84927536, 0.91014493, 0.62608696])

In [ ]:
# matriz de confusão
matriz_confusao = confusion_matrix(classes_teste, classes_preditas)
matriz_confusao_df = pd.DataFrame(data = matriz_confusao)
matriz_confusao_df.columns = ["unacc", "acc", "good", "vgood"]
FN = [9, 7, 1, 0]
matriz_confusao_df['FN'] = FN
matriz_confusao_df.loc["FP"] = [5,8,2,2,17]
matriz_confusao_df.index = ["unacc", "acc", "good", "vgood", "FP"]
matriz_confusao_df

       unacc  acc  good  vgood  FN
unacc    290    7     1      1   9
acc        5   92     1      1   7
good       0    1    19      0   1
vgood      0    0     0     14   0
FP         5    8     2      2  17

In [ ]:
# metricas de classificação
print(classification_report(classes_teste,classes_preditas, target_names = ['unacc','acc','good','vgood']))

              precision    recall  f1-score   support

       unacc       0.98      0.97      0.98       299
         acc       0.92      0.93      0.92        99
        good       0.90      0.95      0.93        20
       vgood       0.88      1.00      0.93        14

    accuracy                           0.96       432
   macro avg       0.92      0.96      0.94       432
weighted avg       0.96      0.96      0.96       432